<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">

</head>

<body style="background-color: #F0F2F5;">

    <nav class="navbar navbar-expand-md fixed-top" style="background-color: #F4623A;">

        <a class="navbar-brand" href="/" style="color:white">
            <img src="images/logo.png" alt="" width="40%" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <select class="form-select" aria-label="Default select example"
                    style="border-radius: 15px; border-color:white; color: #F4623A; background-color: white; padding: 5px;">
                    <option selected>Usuario</option>
                    <option value="1">Perfil</option>
                    <option value="2">Editar</option>
                    <option value="3">Configuracion</option>
                    <option value="4">Cerrar Sesion</option>
                </select>
            </form>
        </div>
    </nav>


    <!-- Inicio dek formulario -->

    <div class="card" style="width: 32rem; margin-left: auto; margin-right: auto; margin-top: 65px;">
        <div class="card-body">
            <div class="form-inline">
                <div class="form-group col-4" style="display: flex; align-items: center; justify-content: center;">
                    <img src="images/salon-belleza/productos-cosmeticos.png" style="width: 40%" alt="">
                </div>
                <div class="form-group col-4" style="display: flex; align-items: center; justify-content: center;">
                    <img src="images/salon-belleza/mujer.png" style="width: 40%" alt="">
                </div>
                <div class="form-group col-4" style="display: flex; align-items: center; justify-content: center;">
                    <img src="images/salon-belleza/esmalte-de-unas.png" style="width:40%" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 32rem; margin-left: auto; margin-right: auto; margin-top: 10px;">
        <div class="card-body">
            <h4
                style="margin-left: auto; margin-right: auto; display: flex; align-items: center; justify-content: center;">
                Crear cita</h4>
            <form>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="email">Nombre</label>
                        <input type="text" placeholder="Introduce el nombre" class="form-control" id="name">
                    </div>
                    <div class="form-group col-12">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control" id="telefono"
                            placeholder="Introduce el número telefónico">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Correo</label>
                        <input type="email" placeholder="Introduce el correo" class="form-control" id="correo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fecha">Fecha de la cita</label>
                        <input type="date" placeholder="Introduce la fecha" class="form-control" id="fecha">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="hora">Hora de la cita</label>
                        <input type="time" placeholder="Introduce la hora" class="form-control" id="hora">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary form-control" style = "border-color: #F4623A; background-color: #F4623A;" onclick="AGENDAR()">Crear cita</button>
            </form>

        </div>
    </div>

    <!-- final -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>