<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar sesion</title>
    <%- include ('partials/styles') %>
</head>

<%- include ('partials/navbarreg') %>

<body style="background-color: #F0F2F5;">
    <nav class="navbar navbar-expand-md fixed-top" style="background-color: #F4623A;">

        <a class="navbar-brand" href="/" style = "color:white">
      <img src="images/logo.png" alt="" width="40%" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <form class="form-inline my-2 my-lg-0 ml-auto">
            <select class="form-select" aria-label="Default select example"
              style="border-radius: 15px; border-color:white; color: #F4623A; background-color: white; padding: 5px;">
              <option selected>Usuario</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </form>
        </div>
      </nav>
      <!-- fin del nav -->
    <div id="titulo" class="card" style="width: 35rem; margin-left: auto; margin-right: auto; margin-top: 100px;">
        <h2 style="margin-left: auto; margin-right: auto; margin-top: 15px;">NOVA</h2>
        <div class="card-body">
            <form action="/verificarLogin" method="POST">
                <div class="form-group">
                    <input id = "user" type="email" class="form-control" name="user" aria-describedby="emailHelp" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input id= "password" type="password" class="form-control" name="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary form-control">Inciar sesión</button>
                <div id ="mensaje">
    
                </div>
                <h4></h4>
                <a style="font-size: small;  margin-left: auto; margin-right: auto; text-align: center; display: inline-block; width: 100%; "
                    href="#">¿Olvidaste tu contraseña?</a>
                <hr>

                <div class="form-inline" style="  display: flex; align-items: center; justify-content: center;">
                    <p style="padding:3px; font-size: small;text-align: center; display: inline-block; ">¿No tienes
                        cuenta? </p>
                    <p><a style="padding:3px; font-size:small; text-align: center; display: inline-block;"
                            href="/registro"> Regístrate</a></p>
        
                </div>
            </form>
        </div>
    </div>
    <br>

    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
<script>
    function entrar(){
        var user = document.getElementById("user").value;
        var password = document.getElementById("password").value;
            if (user == "nova@nova.com" && password == "nova") {
                console.log("hola")
                document.location.href="/principal" 
            }
            else{
                document.getElementById("mensaje").innerHTML +=`<p style = "color:red">Datos incorrectos</p>`
            }
    }
    </script>