<!DOCTYPE html>
	<html lang="en">
<head>
		<meta charset="utf-8">
		<title>Menu Restaurante 1</title>
		<link rel="stylesheet" href="css/bootstrap-menu.css">
		<link rel="stylesheet" href="css/bootstrap-responsive-menu.css">
		<link rel="stylesheet" href="css/custom-menu.css">
</head>
<body>
	<!-- Barra Verde -->
	<div class="topline"></div>
	<!-- Barra Verde-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</a>
				<div class="nav-collapse collapse">
					
					<!-- Izquierda menu-->
					<ul class="nav leftmenu">
						<li><a href="index.html">Inicio</a></li>
						<li><a href="#">Sobre nosotros y mas...</a></li>
					</ul>
					<!-- Derecha menu -->
					<ul class="nav rightmenu">
						<li><a href="portofolio.html">Menu</a></li>
						<li class="lastmenu"><a href="#" class="lastmenu">Contactanos</a></li>
					</ul>
				</div>
				<!-- Logo-->
				<a class="brand logo" href="#">Restaurante<br/>X</a>
				
				<div class="hiremebadge">
					<div class="hiremetext">
						<a data-toggle="modal" href="#">Reserva</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Container
================================================== -->
	<div class="container">
		<h1 class="title">MENÚ</h1>
		<div class="titlelinesimple">
		</div>
		<!-- Portafolio
		================================================== -->
		<div class="row center">
			<div class="span16">
				<div class="boxgrid slideright">
					<img class="cover" src="images/restaurante/portafolio-menu/burger.jpg" alt=""/>
				</div>
				<div class="boxgrid thecombo">
					<img class="cover" src="images/restaurante/portafolio-menu/Chuleta-costeña.jpg" alt=""/>
				</div>
				<div class="boxgrid slideright">
					<img class="cover" src="images/restaurante/portafolio-menu/pizza.jpg" alt=""/>
				</div>
				<div class="boxgrid thecombo">
					<h3>HAMBURGUESA CON QUESO</h3>
					<p>
						Cuarto de libra de carne de res,
						queso amarillo, lechuga fresca, tomate
						y salsa de la casa.
						<br>Complemento: Papas Fritas y Refresco 22oz
						<br/><a href="#" target="_BLANK">Ordenar Aqui</a>
					</p>
				</div>
				<div class="boxgrid slideright">
					<h3>CHULETA COSTEÑA</h3>
					<p>
						Chuleta al estilo costeño, con tajadas de guineo verde
						y salsa rosada de la casa.
						<br>
						Alternativa:
						Chuleta al estilo costeño con papas fritas.
						<br/><a href="#" target="_BLANK"> Ordenar Aqui</a>
					</p>
				</div>
				<div class="boxgrid thecombo">
					<h3>PIZZA ESPECIALIDAD</h3>
					<p>
						Especialidades: <br>
						Pepperoni <br> Triple Carne <br> Jamon y queso <br> 4 estaciones.
						<br>Tamaños:
						<br>Personal <br>
						Grande (8 pedazos) <br>
						Gigante (12 pedazos)
						<br/><a href="#" target="_BLANK">Ordenar Aqui</a>
					</p>
				</div>
			</div>
		</div>
		<!-- Footer  -->
		<div class="footerli"></div>
		<div class="tweetarea">
			<div class="tweettext">
				<div class="row">
					<div class="span-one-third">
						<div class="tweet"></div>
					</div>
					<div class="span-one-third">
						<div class="centermargin">
							<div class="facebook">
								<a href="#"></a>
							</div>
							<div class="twitter">
								<a href="#"></a>
							</div>
							<div class="google">
								<a href="#"></a>
							</div>
							<div class="flickr">
								<a href="#"></a>
							</div>
						</div>
					</div>
					<div class="span-one-third center">
						Reservas <br/>Contacto directo<br/>
						<span class="small"><a href="mailto:NOVARestaurantes@gmail.com">NOVARestaurantes@gmail.com</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="footer center">
			&copy; Copyright NOVA 2020
		</div>
	</div>
<!-- Container-->
<div class="footerend">
</div>

</body>
</html>